input[type=number] {
    -moz-appearance: textfield;
  }

  form {
    margin-left: 12%;
    margin-right:12%;
    width: 80%;
}
.btn-primary{
  background-color:#58b4bd;
  margin-left: 90%;
  
}

.btn-primary2{
  background-color:#5867bd;
  margin-left: 70%;
  
}
.btn-success{
  background-color:#58b4bd;
  margin-left: 70%;
}

.btn{
  border:none;
  color:white;
  padding: 22px 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  opacity: 0.9;
  
}
#box3 {
	box-shadow: 5px 5px rgb(31, 174, 209), -5px -10px rgb(25, 124, 190);
  padding: 60px 60px;
  margin-right:9%;
  margin-left: 9%;
  background-color:rgb(181, 240, 240,0.8);
}
input[type=text] {
  width: 70%;
  border: 2px solid rgb(65, 181, 216);
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


input[type=number] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  border: 2px solid rgb(65, 181, 216);
  box-sizing: border-box;
}

input[type=date] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(65, 181, 216);
  border-radius: 4px;
}
h5 { 
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  color: rgb(65, 134, 134);
}

h5 { 
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  color: rgb(65, 134, 134);
}
h2 { 
  text-align: center;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(55, 92, 92);
}
.alert{
  background-color: rgb(231, 175, 149) ;
  padding: 10px ;
  border: 1px solid rgb(204, 131, 113) ;
  margin-right:9%;
  margin-left: 9%;
}
.alert-success{

  color: rgb(226, 62, 62);
  background-color: #e49cac;
  border-color: #ee093b;

}
body {
  background-image: url("/pictures/p9.jpg");
  background-size:auto 
 }